@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.first-section {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #E5e7eb;
    list-style-type: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    outline: 2px solid red;

}

ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

.navbar-left{
    display: flex;
    width: %;
    align-items: center;
    outline: 2px solid red;

}

.navbar-right{
    display: flex;
    align-self: center;
    outline: 2px solid red;

}


h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
}

.content-right img{
    width: 500px;
}


.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 70px;
}

.p-first{
    font-size: 18px;
    color: #E5E7Eb;
}

.sign-up-first-section{
    width: 100px;
    background-color: #3882f6;
    width: 100px;
    height: 40px;
    border: 1px #3882f6;
    border-radius: 10px;
}

img{
    display: flex;
    flex: 1;
    margin: 50px;
}