@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    height: 100%;
    width: 100%;
}

.first-section {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-top: 20px;
}

.header-link {
    font-size: 18px;
    color: #E5e7eb;
    list-style-type: none;
    margin-top: 20px;

}

.navbar{
    display: flex;
    flex-direction: row;

}

ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    
}

.navbar-left{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.navbar-right{
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 110px;
}


h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;

}

.content-right img{
    width: 500px;
}


.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 100px;
}

.p-first{
    font-size: 18px;
    color: #E5E7Eb;
}

.sign-up-first-section{
    width: 100px;
    background-color: #3882f6;
    width: 100px;
    height: 40px;
    border: 1px #3882f6;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}

img{
    display: flex;
    flex: 1;
    margin: 50px;
}

.second-section{
    text-align: center;
}

#information-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    flex: 1;
    justify-content: center;
}

.block-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-content: center;
    margin-top: 20px;
}

.block{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 200px;
    width: 150px;
    align-self: center;
    justify-content: center;
}

#block-text{
    text-align: center;
    font-size: 18px;
    color: #6b6b6c;
    margin-top: 20px;
}

.block img{
    border: 5px solid #3882f6;
    border-radius: 11px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px
}

.third-section{
    background-color: #e5e7eb;    
}

.quote-box{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.quote-box h1{
    color: black;
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;
}

.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox {
    background-color:#3882f6;
    width: 900px;
    display: flex;
    margin: 100px;
    border:30px solid #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up-second-section{
    margin-left: auto;
    width: 100px;
    background-color: #3882f6;
    width: 100px;
    height: 40px;
    border: 7px #white;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
}

#call-to-action-heading{
    font-size: 25px
}

#call-to-action-text{
    color:#6f6f72
}

footer{
    background-color:#1f2937;
    text-align: center;
    color:antiquewhite;
    border:20px solid #1f2937;
    margin: 
}